/* Adds SK Modernist font, available here (https://seankanedesign.gumroad.com/l/sk-modernist) */
@font-face {
  font-family: "sk-modernist";
  src: url("../assets/fonts/sk-modernist-regular-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Controls site header container */
.site_header {
  height: 150px;
  width: 950px;
  padding-top: 28px;
  padding-bottom: 28px;
}

/* Controls site branding container */
.site_branding {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

/* Controls logo animating GIF. Pretty sick. */
#image,
#anim {
  height: 80px;
  width: 80px;
  padding-top: 15px;
  padding-left: 20px;
}

.site_title {
  height: 50px;
  width: 115px;
  font-weight: bold;
  font-family: "sk-modernist", monospace,
    sans-serif;
  font-size: 30px;
  padding-top: 30px;
  padding-left: 30px;
  margin: 0px;
}

.site_desc {
  height: 20px;
  width: 145px;
  font-family: "sk-modernist", monospace,
    sans-serif;
  font-size: 9.375px;
  padding-left: 32.5px;
  padding-bottom: 20px;
  margin: 0px;
}

.site_nav {
  height: 120px;
  width: 600px;
}

.site_nav_bar {
  text-align: right;
  display: flex;
  flex-direction: row;
}

/* Removes bulletpoints from <ul> lists */
.bp {
  list-style-type: none;
}

.html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
