/* Adds SK Modernist font, available here (https://seankanedesign.gumroad.com/l/sk-modernist) */
@font-face {
  font-family: "sk-modernist";
  src: url("../assets/fonts/sk-modernist-regular-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.site_header {
  height: 150px;
  width: 1000px;
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
}

/* Controls logo animating GIF. Pretty sick. */
#image,
#anim {
  height: 80px;
  width: 80px;
  padding-top: 30px;
  padding-left: 40px;
}

/* Displays logo GIF, site_title, and site_desc vertically. */
#logo,
#anim,
.site_title,
.site_desc {
  display: flex;
  flex-direction: column;
}

.site_title {
  height: 50px;
  width: 115px;
  font-weight: bold;
  font-family: "sk-modernist", monospace,
    sans-serif;
  font-size: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 1px;
  border: 1px;
  margin: 1px;
}

.site_desc {
  font-family: "sk-modernist", monospace,
    sans-serif;
  font-size: 9.375px;
  padding-left: 32.5px;
}

.nav_menu {
  display: flex;
  flex-direction: row;
}

#nav_about {
  height: 17px;
  width: 36px;
  text-align: right;
}

/* Removes bulletpoints from <ul> lists */
.bp {
  list-style-type: none;
}

.html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
